<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>Chukwuka's To Do List</h1>
        <form method="POST" action="/api/to-do" class="form-inline">
          <input
            id="to-do-input"
            class="form-control mr-sm-2"
            type="search"
            placeholder="Add To-Do"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Add
          </button>
        </form>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">S/N</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% mascots.forEach(function(mascot) { %>
            <tr>
              <td scope="row"><%= mascot.id %></td>
              <td><%= mascot.name %></td>
              <td><%= mascot.description %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
